<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="navbar">
        <div class="navleft">
            
        </div>
        <h1><a href="">Austen's Wordle</a></h1>
        <div class="navright">
            
        </div>
    </div>
</body>
</html>