body {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background-color: rgb(18, 18, 19);
    color: white;
    margin: auto;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 350px;
    margin: auto;
}

.word {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid rgb(58, 58, 60);
    margin-bottom: 20px;
}

.navleft {
    width: 0px;
}

h1 {
    flex-grow: 1;
    margin: 10px;
    font-size: 33px;
    font-family:Arial, Helvetica, sans-serif
} 

h1 > a {
    text-decoration: none;
    color: white;
}

.navright {
    width: 0px;
}

.letter {
    line-height: 60px;
    font-size: 32px;
    font-weight: 750;
    background-color: transparent;
    margin: 3px;
    height: 60px;
    width: 60px;
    border: solid 2px rgb(58, 58, 60);
    text-transform: uppercase;
}



.pending {
    border: solid 2px rgb(86,87,88);
}

.keyboard {
    max-width: 491px;
    margin: 20px auto;
    width: 100%;
}

.keyboard > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.key {
    height: 58px;
    flex: 1;
    line-height: 58px;
    font-size: 20px;
    font-weight: 700;
    margin: 3px;
    background-color: rgb(129,131,132);
    border-radius: 3px;
    cursor: pointer;
}

.specialKey{
    flex: 1.5;
    font-size: 15px;
}

.spacer {
    flex: 0.5;
}


.missing {
    background-color: rgb(58, 58, 60);
}

.yellow {
    background-color: rgb(181,159,59);
    border-color: rgb(181,159,59);
}

.found {
    background-color: rgb(83,141,78);
    border-color: rgb(83,141,78);
}

.gameOverWindowHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
}


.gameOverWindow {
    background-color: rgb(18, 18, 19);
    border: 5px solid white;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.statSummary {
    word-wrap: break-word;
    text-align: center;
}

.gameOverClose {
    position: relative;
    width: 30px;
    height: 30px;
    align-self: end;
    cursor: pointer;
}

.gameOverCopy {
    background-color: #818384;
    
}

.hidden {
    visibility: hidden;
}